<div class="user-answer flex">
  <img src="/img/default-placeholder.png" alt="..." width="40" height="40" class="img">
  <a href="/users/<%= answer.user.id %>" class="name"><%= answer.user.name %></a>
</div>
<p class="answer-content"><%= all ? answer.content : truncate(answer.content) %></p>
