<form class="answer-form flex flex-col" id="answer-form" data_parent="<%= question_id %>">
	<textarea name="answer" class="answer-field" rows="5" placeholder="Answer..."></textarea>
	<input type="submit" class="btn btn-outline-success btn-answer-submit" id="submit-a">
</form>

