<form id="update-form" class="update-form" data_parent="<%= answer.id %>" data_name="answers">
 <div class="modal-content">

   <div class="modal-header">
     <button type="button" class="close" data-dismiss="modal" aria-label="Close">
       <span aria-hidden="true">&times;</span>
     </button>
     <h4 class="modal-content" id="content">Edit Answer</h4>
   </div>

   <div class="modal-body">
     <div class="form-group">
        <textarea class="form-control" name="content" id="edit-answer" rows="7">
          <%= answer.content %>
        </textarea>
     </div>
   </div>

   <div class="modal-footer">
     <button type="button" class="btn btn-secondary btn-cancel" data-dismiss="modal">Cancel</button>
     <input type="submit" class="btn btn-outline-success btn-update" value="Save Changes">
   </div>

	</div><!-- /.modal-content -->
</form>