<form class="form-box flex flex-col" action="/question/create" method="post">
  <input type="text" placeholder="Ask a question?" class="title" id="title" name="title">
  <textarea name="description" class="description" rows="5" placeholder="Description..."></textarea>
  <input type="submit" class="btn btn-secondary" value="Ask?" id="submit-q">
</form>
<div id="questions"></div>

