<div class="col-md-8 offset-md-2">
  <div class="container">
		<% @questions.each do |q| %>
				<div class="row question">
					<h4 class="title"><%= q.title %></h4>
					<p class="leads"><%= q.description %></p>
					<button class="btn btn-upvote" id="up-vote">Upvote</button>
					<button class="btn btn-outline-secondary" id="down-vote">Downvote</button>
				</div>
		<%end%>
  </div>


