<% content_for :question do %>
    <form class="form-box">
      <input type="text" placeholder="Ask a question?" class="title" id="title" name="title">
      <textarea name="description" class="description" rows="5" placeholder="Description..."></textarea>
      <input type="submit" class="btn btn-secondary" value="Ask?">
    </form>
<% end %> %>



