<h2>Create A question</h2>
<form action="/question/create" method="POST">
	<input type="text" class="form-control" placeholder="Title" name="title">
	<input type="text" class="form-control" placeholder="Description" name="description">
	<input type="submit" class="btn btn-primary" placeholder="Submit">
</form>