<% @questions.each do |question| %>
			<div class="question-box flex flex-col" id="<%= question.id %>">
			  <%= erb :"question/question_box", :layout => false, :locals => {:question => question }%>
			  <form class="answer-form flex flex-col" id="answer-form">
			  	<input type="hidden" value="<%= question.id %>" name="question_id">
			  </form>
			  <div class="answer-box" id="answer-box"></div>
			</div>
<% end %>

