<div id="questions">
	<div class="question-box flex flex-col extra" id="<%= @question.id %>">
	  <%= erb :"question/partials/_question", :layout => false, :locals => {:question => @question }%>
	</div>
	<div class="answer-box extra" id="answers-list">
		<% @question.answers.each do |answer| %>
			<%= erb :'answer/answers', :layout => false, :locals => {:answer => answer} %>
		<% end %>
	</div>
</div>
