<h2>Create an answer</h2>
<form action="/answer/create" method="POST">
	<input type="text" class="form-control" placeholder="Title" name="content">
	<input type="submit" class="btn btn-primary" placeholder="Submit">
</form>