
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <img src="http://placehold.it/110x110" alt="..." class="img-thumbnail rounded-circle">
        <h3 class="name"><%= @user.name %></h3>
      </div>
    </div>
    <div class="tabs">
      <!-- Nav tabs -->
      <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" data-toggle="tab" href="#questions" role="tab">Questions</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#answers" role="tab">Answers</a>
      </ul>

      <!-- Tab panes -->
      <div class="tab-content">
        <div class="tab-pane active" id="questions" role="tabpanel">
          <% @user.questions.each do |question| %>
              <h3 class="title"><%= question.title %></h3>
              <p class="leads"><%= question.description %></p>
          <% end %>
        </div>
        <div class="tab-pane" id="answers" role="tabpanel">
          <% @user.answers.each do |answer| %>
              <p class="leads"><%= answer.content %></p>
          <% end %>
        </div>
    </div>