<form id="update-form" class="update-form" data_parent="<%= question.id %>" data_name="questions">
 <div class="modal-content">

   <div class="modal-header">
     <button type="button" class="close" data-dismiss="modal" aria-label="Close">
       <span aria-hidden="true">&times;</span>
     </button>
     <h4 class="modal-title" id="title">Edit Question</h4>
   </div>

   <div class="modal-body">
     <div class="form-group">
       <input type="text" class="form-control" id="Ask Question" value="<%= question.title %>" 
       name="title">
     </div>
   </div>

   <div class="modal-footer">
     <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
     <input type="submit" class="btn btn-success" value="Save Changes">
   </div>

	</div><!-- /.modal-content -->
</form>