<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
     <link rel="shortcut icon" type="image/x-icon" href="/img/favicon.ico" />
    <title>Quora | Sign Up</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css" integrity="sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/register.css">
  </head>
  <body>


    <div class="container-fluid wrapper">
      <div class="row alert-notice">
          <% if flash[:notice] %>
            <div class="alert alert-danger flex fade in" role="alert" id="notice">
                <p><%= flash[:notice] %></p>
            </div>  
          <% end %>
      </div>
      <div class="row">
          <div class="container">
              <div class="register flex flex-col">
                <img src="/img/logo.svg" alt="" class="logo" width="242" height="63">
                <h4 class="lead">The Best Answer To Any Question</h4>
                <!-- Sign Up Form -->
                <div class="forms">
                    <div class="col-md-6 offset-1">
                      <form action="/users" method="post" id="sign-up" class="flex flex-col">
                        <h4 class="title">Sign Up</h4>
                        <div class="form-group-2 flex">
                          <div class="form-group">
                             <input type="text" class="form-control" name="first_name" placeholder="Lirst name">
                           </div>
                           <div class="form-group">
                             <input type="text" class="form-control" name="last_name" placeholder="Last name">
                           </div>
                        </div>
                         <div class="form-group">
                           <input type="email" class="form-control" name="email" placeholder="Email" autocomplete="nope">
                         </div>
                         <div class="form-group">
                           <input type="password" class="form-control" name="password" placeholder="Password" autocomplete="nope">
                         </div>
                         <input type="submit" class="btn btn-primary" value="Sign Up">
                      </form>
                    </div>
                    <!-- Log In Form -->
                    <div class="col-md-6 offset-2">
                      <form action="/log-in" class="flex flex-col" method="post" id="log-in">
                        <h4 class="title">Log In</h4>
                        <div class="form-group">
                           <input type="email" class="form-control" name="email" placeholder="Email" autofocus="true">
                         </div>
                         <div class="form-group">
                           <input type="password" class="form-control" name="password" placeholder="Password">
                         </div>
                         <input type="submit" class="btn btn-primary" value="Log In">
                      </form>
                    </div>  
                  </div>
                </div>
          </div>
      </div>
    </div>



    <!-- jQuery first, then Tether, then Bootstrap JS. -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js" integrity="sha384-3ceskX3iaEnIogmQchP8opvBy3Mi7Ce34nWjpBIwVTHfGYWQS9jwHDVRnpKKHJg7" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.3.7/js/tether.min.js" integrity="sha384-XTs3FgkjiBgo8qjEjBk0tGmf3wPrWtA6coPfQDfFEY8AnYJwjalXCiosYRBIBZX8" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/js/bootstrap.min.js" integrity="sha384-BLiI7JTZm+JWlgKa0M0kGRpJbF2J8q+qreVrKBC47e3K6BW78kGLrCkeRX6I9RoK" crossorigin="anonymous"></script>
  </body>
</html>